.banner-principal__componente
  h1
    color: #6F7302 !important

.BG01
  background-color: lighten($color-primario, 40%) !important

.BG02
  background-color: lighten($color-secundario, 35%) !important

.BG03
  background-color: lighten($color-acento-contenido, 33%) !important

.BG04
  background-color: lighten($color-acento-botones, 30%) !important

.BG05
  background-color: #F1F8AD !important

.round01
  border-radius: 20px 20px 0 0 !important

.mtN01
  margin-top: -60px !important
