.BorTit
  border-left: 8px solid #339CE9
  padding: 5px 0px 5px 20px
  margin-top: 6px
  font-size: 0.8em

iframe
  border-radius: 10px

figcaption
  margin-top: 4px

.banner-principal__componente h1
    color: #6F7302 !important

.linea-tiempo-d.color-acento-botones .tarjeta 
    background-color: #E7E9BF !important

.col-auto.linea-tiempo-d__item__col-number
  width: 125px !important

.tarjeta.color-acento-botones 
    background-color: #F5F2E6 !important

.t1-div1
  background-color: #F2E3D0
  border-radius: 10px

.t1-div2  
  border-right: 3px dashed #B0A99F

.cajon.color-acento-botones 
    background-color: #E7E9BF !important

.t7-div1
  background-color:#E5DEC1 !important


